/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  background-image: url('https://media.giphy.com/media/3oKIPlCroSFHV8uoko/giphy.gif');
  background-size: cover;
  height: 100vh;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 50px 20px;
  height: 100%;
}

#Home {background-color:transparent;}
#News {background-color: orange;}
#About {background-color: orangered;}
#Contact {background-color: blue;}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*https://codepen.io/dudleystorey/pen/PZyMrd*/

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #7FFF00;
  color: white;
  text-align: center;
}

.footer-right {
  position: absolute;
  right: 0px;
  width: 300px;
  border: 1px solid;
  padding: 1px;
}
